*{box-sizing: border-box;}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url('../img/pokemon.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



.navbar {
  width: 100%;
  background: #000;
  height: 80px;
  position: fixed;
  top: 0px;
  color: crimson;
}

.navbar > ul li {
  list-style-type: none;
}

.input-wrapper, .error-message {
 display: inline;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #000;
  color: #fff;
  padding: 10px;

}

.container {
  margin: auto;
  width: 740px;
  margin-top: 100px;
  margin-bottom: 120px;
}

.pokemons-list li {
  width: 100%;
  height: 60px;
  background-color: rgba(160, 64, 160,0.6);
  color: #fff;
  margin-bottom: 10px;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  font-variant: small-caps;
}


#modal-container {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1000;
  overflow: auto;
  display: grid;
  text-align: center;
  box-sizing: border-box;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
  background: #fff;
  position: relative;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  text-decoration: underline;
  color: #777;
  position: relative;
  bottom: -15px;
}

/*rgb(146, 58, 146) */
.modal h1 {
  margin-top: -15px;
  left: 0;
  background: rgb(106, 42, 106);
  color: #fff;
  padding: 25px;
  position: absolute;
  width: 100%;

}
.pokemon-types {
  margin-top: 100px;
  margin-bottom: 30px;
}

.pokemon-types span {
  background: rgb(146, 58, 146);
  color: #fff;
  padding: 1px 10px 5px;
  margin-left: 5px;
  font-variant: small-caps;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(200, 116, 200);
}


.modal p {
  margin-bottom: 10px;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: grid;
}

.modal-cancel {
  margin-left: 10px;
}

canvas {
  border: solid #000 1px;
  touch-action: none;
}